<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="PurchaseMapper">


	<resultMap id="purchaseSelectMap" type="purchase">
		<result property="buyer.userId" 			column="buyer_id" 			jdbcType="VARCHAR"/>
		<result property="divyAddr"	column="demailaddr" 		jdbcType="VARCHAR" />
		<result property="divyDate" 	column="dlvy_date" 		jdbcType="DATE" />
		<result property="divyRequest" 	column="dlvy_request" 		jdbcType="VARCHAR" />
		<result property="orderDate" 				column="order_data" 					jdbcType="DATE" />
		<result property="paymentOption" 				column="payment_option" 					jdbcType="VARCHAR" />
		<result property="purchaseProd.prodNo" 			column="prod_no" 		jdbcType="NUMERIC" />
		<result property="receiverName" 			column="receiver_name" 		jdbcType="VARCHAR" />
		<result property="receiverPhone" 			column="receiver_phone" 		jdbcType="VARCHAR" />
		<result property="tranCode" 			column="tran_status_code" 		jdbcType="VARCHAR" />
		<result property="tranNo" 			column="tran_no" 		jdbcType="NUMERIC" />
	</resultMap>
	
	<!-- INSERT -->
	<insert id="addPurchase" parameterType="purchase">
		INSERT
		INTO transaction
		values(
			seq_transaction_tran_no.NEXTVAL, 
			#{purchaseProd.prodNo}, 
			#{buyer.userId}, 
			#{paymentOption}, 
			#{receiverName}, 
			#{receiverPhone}, 
			#{divyAddr}, 
			#{divyRequest}, 
			#{tranCode},
			sysdate,
			TO_DATE(#{divyDate},'YYYY-MM-DD'))
   </insert>
   
   <select 	id="getPurchase"	parameterType="string"	resultMap="purchaseSelectMap">
		SELECT 
		tran_no, prod_no, buyer_id, payment_option, receiver_name, receiver_phone, demailaddr, dlvy_request, tran_status_code, order_data, dlvy_date  
		FROM transaction 
		WHERE receiver_name = #{value}
	</select>
	
	<select 	id="getPurchase2"	parameterType="string"	resultMap="purchaseSelectMap">
		SELECT 
		tran_no, prod_no, buyer_id, payment_option, receiver_name, receiver_phone, demailaddr, dlvy_request, tran_status_code, order_data, dlvy_date  
		FROM transaction 
		WHERE prod_no = #{value}
	</select>
	
	<update	id="updatePurchase"	parameterType="purchase" >
	   	UPDATE transaction
	   	<set>
	   		payment_option 	= #{paymentOption},
			receiver_name	= #{receiverName},
			receiver_phone = #{receiverPhone} ,
			demailaddr			=	#{divyAddr} ,
			dlvy_request		=	#{divyRequest},
	   	</set>
	   	WHERE prod_no = #{purchaseProd.prodNo}
	 </update>
	 
	 <update	id="updateTranCode"	parameterType="purchase" >
	   	UPDATE transaction
	   	<set>
	   		tran_status_code 	= #{tranCode}
	   	</set>
	   	WHERE prod_no = #{purchaseProd.prodNo}
	 </update>
	
	 <select  id="getPurchaseList"  parameterType="arraylist"	resultMap="purchaseSelectMap">
	  	SELECT *
		FROM (	SELECT inner_table.* , ROWNUM AS row_seq
			FROM(	SELECT * 
					FROM transaction 
					WHERE buyer_id = #{list[1]}
					ORDER BY tran_no) inner_table
			WHERE ROWNUM &lt;= #{list[0].endRowNum} )
		WHERE row_seq BETWEEN #{list[0].startRowNum} AND #{list[0].endRowNum}
	 </select>
	 
	 <select  id="getTotalCount"  parameterType="arraylist"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT * 
				FROM transaction 
				WHERE buyer_id = #{list[1]} ) countTable						
	 </select>

</mapper>